<ion-header translucent="true">
  
</ion-header>

<ion-content>
  <div class="image header-images">
    <img class="header-image" (load)="logosLoaded[0] = true" [src]="ComLogoSrc" alt="welcome">
    <ion-spinner name="circular" color="primary" *ngIf="!logosLoaded[0]"></ion-spinner>
    <div *ngIf="logosLoaded[0]">

      <ion-img class="header-image" (load)="logosLoaded[1] = true" *ngFor="let sponsorSrc of SponsorsLogosSrc" [src]="sponsorSrc" alt="Sponsor Logo">
      </ion-img>
    </div>
  </div>
  <div class="image">
    <ion-spinner name="circular" color="primary" *ngIf="!logosLoaded[2]"></ion-spinner>
    <img *ngIf="logosLoaded[2]" (load)="logosLoaded[2] = true" [src]="ExpoLogoSrc" alt="Mining Expo & Conference Logo">
  </div>
  <div class="heading">
    <h2>Welcome to the Mining Expo & Conference App</h2>
      <p>Click the button below to proceed.</p>
  </div>
        <div class="email-login">
          <ion-button class="signup" routerLink="/schedule">Proceed</ion-button>
          </div>
</ion-content>
