ion-list{
  height: fit-content;
}

.venue-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%; /* Set the height to occupy the entire viewport */
width: 100%;  
}

.venue-image{
  height: fit-content;
  width: 100%;
  max-width: 100%; /* Make the image responsive and fit the container */
  max-height: 40vh; /* Limit the image height to 80% of the viewport height */
  border-radius: 10px; /* Add rounded corners for aesthetics */
  object-fit: contain;
}

.floor-plan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Set the height to occupy the entire viewport */
width: 100%;  
}

.floor-plan-image {
  max-width: 100%; /* Make the image responsive and fit the container */
  max-height: 80vh; /* Limit the image height to 80% of the viewport height */
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for aesthetics */
  border-radius: 10px; /* Add rounded corners for aesthetics */
}

.swiper-zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

#overview-map {
  max-height: 75dvh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.exhibitor-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.exhibitor{
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

ion-segment-button::part(indicator-background) {
  background: #ffaa32;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #ffaa32;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #ffaa32;
  padding: 16px 16px;
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 20px;
}
