.floor-plan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set the height to occupy the entire viewport */
}

.floor-plan-image {
  max-width: 100%; /* Make the image responsive and fit the container */
  max-height: 80vh; /* Limit the image height to 80% of the viewport height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for aesthetics */
  border-radius: 10px; /* Add rounded corners for aesthetics */
}

.swiper-zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#overview-map {
  max-height: 75dvh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.button-bar{
  background-color: #ffaa32;
}

ion-segment-button{
  background-color: #ffaa32;
  
}

ion-segment-button:hover{
  background-color: #fc9505;
  
}
.segment-button-checked::part(native) {
  color: #041a51;
  border-bottom: 2px solid #041a51;
}
