<ion-header translucent="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title color="light">
    Register as a Delegate
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <img alt="Mining Expo Conference Registration" src="https://firebasestorage.googleapis.com/v0/b/mining-expo-bc804.appspot.com/o/img%2Fwebsite_media%2Fmining-expo-header_resize.webp?alt=media&token=f4d445cb-7b1b-43d2-9b57-4736ee85c73b" />
    <ion-card-header>
      <ion-card-title>Register as a Conference Delegate</ion-card-title>  
    </ion-card-header>
    <ion-card-content *ngIf="scheduleOpen">
      <iframe src="https://www.cognitoforms.com/f/2QVll_rxDEOR3mB1yLnroQ/8" allow="payment" style="border:0;width:100%;" height="632"></iframe>
<script src="https://www.cognitoforms.com/f/iframe.js"></script>
    </ion-card-content>  
    <ion-card-content *ngIf="!scheduleOpen">
      The conference registration is currently closed. Please check back later.
    </ion-card-content>    
  </ion-card>

      <ion-img src="/assets/img/rmbLogo.png" alt="rmblogo">
      </ion-img>
</ion-content>
