<ion-content>
  <ion-buttons id="close-button">
    <ion-button color="warning" (click)="closeModal()">
      <ion-icon name="close-circle" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>

  <app-speaker-card [safeArea]="true" [id]="id" [speaker]="speaker"></app-speaker-card>

  <div class="ion-padding">
    <h2 class="eas-header-large">About {{ speaker.speakerName }}</h2>
    <ion-text>{{ speaker.bio }}</ion-text><br /><br />

    <h2 class="eas-header-large">Connect with {{ speaker.speakerName }}</h2>
    <ion-button color="light" class="connect-button" (click)="openLink(speaker.linkedinProfile)" *ngIf="speaker.linkedinProfile">
      <div>
        <ion-icon color="warning" name="logo-linkedin"></ion-icon><br />
        <ion-label size="small">LinkedIn</ion-label>
      </div>
    </ion-button>

    <!-- <ion-button color="light" class="connect-button" (click)="openLink(speaker.github)" *ngIf="speaker.github">
      <div>
        <ion-icon name="logo-github"></ion-icon><br />
        <ion-label>GitHub</ion-label>
      </div>
    </ion-button>

    <ion-button color="light" class="connect-button" (click)="openLink(speaker.twitter)" *ngIf="speaker.twitter">
      <div>
        <ion-icon name="logo-twitter" size="large"></ion-icon><br />
        <ion-label>Twitter</ion-label>
      </div>
    </ion-button> -->
    <ion-button color="light" class="connect-button" (click)="openLink(speaker.websiteLink)" *ngIf="speaker.websiteLink">
      <div>
        <ion-label>Company Website
        </ion-label>
        <ion-icon color="warning" name="globe-outline" size="large"></ion-icon><br />
      </div>
    </ion-button>
  </div>
</ion-content>
