<!-- <ion-card
  (click)="navigateToAgendaItemPage()"
  [button]="true"
>
  <ion-card-header>
    <app-agenda-avatars size="48px" [urls]="photoUrls"></app-agenda-avatars>
    <ion-card-title class="eas-header-small">{{ agenda.title }}</ion-card-title>
    <ion-card-subtitle>
      <div *ngFor="let speaker of speakers">
        {{ speaker.firstName }} {{ speaker.lastName }}, {{ speaker.role }}, {{ getCompanyName(speaker.companyId) }}
      </div>
      </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>{{ formatTalkTime(agenda) }}</ion-card-content>
</ion-card> -->

<ion-accordion-group [multiple]="true" value="open">
  
    <ion-accordion [attr.value]="schedule.description ? 'open' : 'closed'" [toggleIcon]="shouldToggleIcon()"  [readonly]="shouldToggleReadOnly()">
      <ion-item class="ion" slot="header" >
        <div class="flex">
          <ion-label class="name">
            <div class="date-time">
              <!-- <div>{{formatDate(schedule.timeStart)}}</div> -->
              <div>{{formatTime(schedule.timeStart)}}</div>
            </div>
          </ion-label>
        <ion-label>
          <div>{{schedule.name}}</div>
          <div>{{schedule.location}}</div>
        </ion-label>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      {{schedule.description}}
      <div class="label-container" *ngIf="schedule.speakers">
        <p class="speaker-label">Speakers:</p>
        <div class="speaker-container" *ngFor="let speaker of schedule.speakers">
          <img [src]="speaker.speakerProfilePicture" width="50" height="50" [alt]="speaker.speakerName"/>
          <div>
            <p>{{speaker.speakerName}}</p>
            <p>{{speaker.speakerTitle}}</p>
          </div>
        </div>
      </div>
      <div class="label-container" *ngIf="schedule.chairperson">
        <p class="speaker-label">Chairperson of Session:</p>
        <div class="speaker-container" *ngFor="let speaker of schedule.chairperson">
          <img [src]="speaker.speakerProfilePicture" width="50" height="50" [alt]="speaker.speakerName"/>
          <div>
            <p>{{speaker.speakerName}}</p>
            <p>{{speaker.speakerTitle}}</p>
          </div>
        </div>
      </div>
      <div class="label-container" *ngIf="schedule.moderator">
        <p class="speaker-label">Moderator:</p>
        <div class="speaker-container" *ngFor="let speaker of schedule.moderator">
          <img [src]="speaker.speakerProfilePicture" width="50" height="50" [alt]="speaker.speakerName"/>
          <div>
            <p>{{speaker.speakerName}}</p>
            <p>{{speaker.speakerTitle}}</p>
          </div>
        </div>
      </div>
      <div class="panelist-label-container" *ngIf="schedule.panelists">
        <p class="speaker-label">Panelists:</p>
        <div class="speaker-container" *ngFor="let speaker of schedule.panelists">
          <img [src]="speaker.speakerProfilePicture" width="50" height="50" [alt]="speaker.speakerName"/>
          <div>
            <p>{{speaker.speakerName}}</p>
            <p>{{speaker.speakerTitle}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-accordion>
  
</ion-accordion-group>
