ion-content {
    --background: white;
}

app-agenda-card {
   margin-bottom: 80px;
}

ion-segment-button::part(indicator-background) {
  background: #ffaa32;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #ffaa32;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #ffaa32;
  padding: 4px 16px;
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 20px;
}

.button{
    display: flex;
    flex-direction: column;
  
  
    div:nth-child(2) {
      font-weight: bolder;
    }
  }
  
  ion-item-divider {
    box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.1);
    border: none;
  }