<ion-header translucent="true">
  <ion-toolbar color="expoBlue">
    <ion-buttons slot="start">
      <ion-menu-button color="warning"></ion-menu-button>
      </ion-buttons>
    <ion-title color="light">
      Conference Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content class="page-content" [fullscreen]="true">

  <ion-item-divider sticky class="button-bar">
    <ion-toolbar >
        <ion-segment value="days" class="button-bar">
          <ion-segment-button value="day1" (click)="setSelectedDay(30)" >
            <ion-label class="button" ><div>Day 1</div><div>August 07</div></ion-label>
          </ion-segment-button>
          <ion-segment-button value="day2" (click)="setSelectedDay(31)">
            <ion-label class="button" ><div>Day 2</div><div>August 08</div></ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-item-divider>

  <div class="ion-padding" *ngIf="selectedDay === 0">
    <app-agenda-card
      *ngFor="let schedule of conferenceSchedule"
      [schedule]="schedule"
    ></app-agenda-card>
  </div>

  <div class="ion-padding" *ngIf="selectedDay !== 0">
    <app-agenda-card
    *ngFor="let schedule of daySchedule"
    [schedule]="schedule"
    ></app-agenda-card>
  </div>

  <div class="ion-padding"></div>

</ion-content>
