<ion-header translucent="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
      </ion-buttons>
    <ion-title color="light">
      Conference Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content class="page-content" [fullscreen]="true">
  <div *ngIf="!scheduleOpen" class="ion-padding">
    <ion-card color="warning">
      <ion-card-header>
        <ion-card-title>Conference Schedule Closed</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        The conference schedule is currently closed.
      </ion-card-content>
    </ion-card>
  </div>

  <ng-container *ngIf="scheduleOpen">

    <ion-item-divider sticky color="light">
      <ion-toolbar>
        <ion-segment [value]="selectedDay" color="light">
          <ion-segment-button
            *ngFor="let day of days"
            [value]="day.value"
            (click)="setSelectedDay(day.value)">
            <ion-label class="button">
              <div>{{ day.label }}</div>
            </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-item-divider>

    <ion-card>
      <img alt="Mining Expo Theme" src="{{ bannerImage }}" />
      <ion-card-header>
        <ion-card-title>{{ pageTitle }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ pageDescription }}
      </ion-card-content>
    </ion-card>
    
    <div class="ion-padding" *ngIf="selectedDay === 0">
      <app-agenda-card
      *ngFor="let schedule of conferenceSchedule"
      [schedule]="schedule"
    ></app-agenda-card>
  </div>
  
  <div class="ion-padding" *ngIf="selectedDay !== 0">
    <app-agenda-card
    *ngFor="let schedule of daySchedule"
    [schedule]="schedule"
    ></app-agenda-card>
  </div>
  
  <div class="ion-padding"></div>
  
</ng-container>
</ion-content>
